<div
    class="icon-border"
    [class.noframe]="!hasFrame"
    [class.selected]="selected"
    [class.hoverable]="hoverable"
    [style.padding.px]="this.paddingPX ? this.paddingPX : 'auto'"
>
    <div class="icon-picture" [class.noframe]="!hasFrame">
        <a [href]="href" style="border:none" *ngIf="href">
            <img
                [id]="getImgId()"
                [src]="picture"
                style="width:100%; height:100%; border-style:none;"
                (error)="imgLoadError($event)"
            >
        </a>
        <img *ngIf="href == null || href == undefined"
            [id]="getImgId()"
            [src]="picture"
            style="width:100%; height:100%; border-style:none;"
            (error)="imgLoadError($event)"
            (click)="onImgClicked()"
        >
    </div>
    <div class="icon-label" [class.noframe]="!hasFrame">
        <a class="icon-label-href" [href]="href" *ngIf="href">{{text}}</a>
        <span *ngIf="href == null || href == undefined"> {{text}} </span>
    </div>
</div>