body {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bolder;
    font-size: 14px;
    margin: 0px;
}

.icon-label-href {
    text-decoration: none;
}

.icon-picture {
    border-style: none;
}

.app-top-bar {
    width:100%;
    height: 30px;
    position: fixed;
    top: 0px;
}

.app-top-bar-spacer {
    height: 35px;
}

.app-container {
    
}

.app-bottom-bar-spacer {
    height: 45px;
}

.app-bottom-bar {
    width:100%;
    height: 30px;
    position: fixed;
    top: calc(100vh - 30px);
}

.spacer {
    height: 8px;
}

.pushbutton.enabled {
    cursor: pointer;
}

.pushbutton.disabled {
    cursor: default !important;
}

.modal-cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

.dialog-frame {
    position: absolute;
}

.dialog-content {
    height: calc(100% - 60px);
}

.standard-buttons-td .pushbutton {
    float: right;
    margin-right: 5px;
}

.custom-buttons-td {
    float: left;
    margin-left: 5px;
}

.loading-wheel-linear-animation {
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    position: relative;
    transform-origin: center;
}

.loading-wheel-eased-animation {
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    position: relative;
    transform-origin: center;
}

@keyframes roll-left {
    0% {
        transform:  rotate(0deg);
    }
    100% {
        transform:  rotate(-359deg);
    }
}

@keyframes roll-right {
    0% {
        transform:  rotate(0deg);
    }
    100% {
        transform:  rotate(359deg);
    }
}

@keyframes roll-right-with-pause {
    0% {
        transform:  rotate(0deg);
    }
    50% {
        transform:  rotate(359deg);
    }
    100% {
        transform:  rotate(357deg);
    }
}

@keyframes fade {
    0% {
        background-color: #595959;
    }
    50% {
        background-color: #BBB;
    }
    100% {
        background-color: #595959;
    }
}

.loading-wheel-outer-circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-style: dashed;
  border-width: 5px;
  border-color: #333;
  border-radius: 50%;
  background-color: #BBB;
}

.loading-wheel-mid-circle {
  position: relative;
  width: 36px;
  height: 36px;
  border-style: dashed;
  border-width: 5px;
  border-color: #444;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  background-color: #AAA;
}

.loading-wheel-inner-circle {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-width: 2px;
  left: 3px;
  top: 3px;
  background-color: #595959;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

.loading-wheel-pivot-circle {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 8px;
    top: 8px;
    background-color: #000;
}

.loading-wheel-containing-circle {
    width: 62;
    height: 62;
    border-style: solid;
    border-width: 2px;
    border-color: #959595;
    border-radius: 50%;
    background-color: #111;
    padding: 3px;
}

.loading-wheel-containing-square {
    width: 69px;
    height: 69px;
    border-style: solid;
    border-width: 2px;
    border-color: #CCC;
    border-radius: 10px;
    padding: 3px;
    background: rgb(172,172,172);
    background: linear-gradient(0deg, rgba(162,162,162,1) 0%, rgba(190,190,190,1) 41%, rgba(177,177,177,1) 100%); 
}

.loading-modal-center-form {
    position: fixed;
    width: 250px;
    height: 84px;
    left: calc(50vw - 125px);
    top: calc(50vh - 42px);
}

.faded-out {
    animation-name: fade-out;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
}

.faded-in {
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    99% {
        opacity: 0;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
    }
}

.toast-frame {
    position: absolute;
    width: 80vw;
    height: 90px;
    left: 10vw;
    cursor: pointer;
    top: -500px;
}

.toast-frame-hidden {
    animation-name: toast-out;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    top: 50px;
}

.toast-frame-visible {
    animation-name: toast-in;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 1.0s;
    top: 50px;
}

@keyframes toast-in {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }
    90% {
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}

@keyframes toast-out {
    0% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(-150px);
    }
}

.toast-title {
    word-wrap: break-word;
    width: calc(80vw - 100px);
}

.toast-description {
    word-wrap: break-word;
    width: calc(80vw - 100px);
}

.loading-log-frame {
    position: absolute;
    top: calc(100vh - 300px) !important;
    height: 300px;
    width: 100vw;
}

.loading-log-wheel-container {
    width:60px;
}

.loading-log-frame-hidden {
    animation-name: loading-log-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 1.0s;
    left: calc(-100vw - 100px);
    top: calc(100vh - 300px) !important;
}

.loading-log-frame-visible {
    animation-name: loading-log-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    left: 0px;
    top: calc(100vh - 300px) !important;
}

.loading-log-listbox {
    overflow-y: scroll;
}

@keyframes loading-log-in {
    0% {
        opacity: 0;
        transform: translateX(calc(-100vw - 100px));
        visibility: visible;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}

@keyframes loading-log-out {
    0% {
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
    }
    100% {
        opacity: 0;
        transform: translateY(calc(-100vw - 100px));
        visibility: visible;
    }
}

.dropdown-list-container.visible {
    animation-name: fade-in;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
    top: 50px;
}

.dropdown-list-container.hidden {
    animation-name: fade-out;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    top: 50px;
}

.crud-table-data-table-container {
    overflow-y: scroll;
}

.switch-border {
    width: 30px;
    height: 13px;
    cursor: pointer;
}

.switch-button {
    width: 10px;
    height: 10px;
    margin-top: 1px;
    position: relative;
}

.switch-button.off {
    animation-name: go-left;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
}

.switch-button.on {
    animation-name: go-right;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
}

@keyframes go-left {
    0% {
        transform: translateX(16px);
    }
    100% {
        transform: translateX(2px);
    }
}

@keyframes go-right {
    0% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(16px);
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.panel-buttons-list {
    display: flex;
    flex-wrap: wrap;
}

.panel-button {
    height: 150px;
}

.panel-button.highlighted {
    animation-name: increase-padding-left;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
}

@keyframes increase-padding-left {
    0% {
        padding-left: 0px;
    }
    100% {
        padding-left: 100px;
    }
}