body.light {
    background-color: #EEE;
    color: #111;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bolder;
    font-size: 14px;
}

.app-container {
    text-align: center;    
}

.icon-border {
    border-style: solid;
    border-width: 2px;
    border-color: #AAA;
    border-radius: 15px;
    padding: 20px;
    width: 100px;
    height: 100px;
    background: rgb(134,134,134);
    background: linear-gradient(197deg, rgba(134,134,134,1) 7%, rgba(255,255,255,1) 86%);
    -webkit-box-shadow: 0px 0px 31px -7px #000000; 
    box-shadow: 0px 0px 21px -7px #000000;
    margin: 15px;
    display: inline-block;
}

.icon-picture {
    width: 100px;
    height: 80px;
    padding-bottom: 5px;
}

.icon-text {
    font-size: 12px;
    text-align: center;
}

.icon-text-href {
    color: #000;
}

.app-top-bar {
    background-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #999;
    -webkit-box-shadow: 0px 3px 12px -5px #000000; 
    box-shadow: 0px 3px 12px -5px #000000;
}

.app-bottom-bar {
    background-color: #222;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #999;
    -webkit-box-shadow: 0px -3px 12px -5px #000000; 
    box-shadow: 0px -3px 12px -5px #000000;
}