<!-- Top -->
<div class="app-top-bar" style="text-align:right;">
    <span
        *ngIf="navigationService.currentPage !=='main'"
        style="cursor:pointer;"
        (click)="goToMain()"
    ><<< Back to Main</span> &nbsp;&nbsp;&nbsp;
</div>
<div class="app-top-bar-spacer"></div>

<!-- Content -->
<div class="app-container">
    <app-main-menu    *ngIf="navigationService.currentPage == 'main'"        ></app-main-menu>
    <app-pi-instances *ngIf="navigationService.currentPage == 'pi-instances'"></app-pi-instances>
    <app-pins         *ngIf="navigationService.currentPage == 'pins'"        ></app-pins>
    <app-pin-groups   *ngIf="navigationService.currentPage == 'pin-groups'"  ></app-pin-groups>
    <app-buttons      *ngIf="navigationService.currentPage == 'buttons'"     ></app-buttons>
</div>

<!-- Bottom -->
<div class="app-bottom-bar-spacer"></div>
<div class="app-bottom-bar">
    <table style="margin-left:5px;"><tr><td>Theme: </td><td stye="padding-top:2px;">
        <switch
            [(state)]="themeState"
            (onChange)="onThemStateChanged()"
            offStateLabel="Bright"
            onStateLabel="Dark"
        ></switch>
    </td></tr></table>
</div>

<!-- Generic elements -->
<serviceable-msgbox></serviceable-msgbox>
<loading-modal></loading-modal>
<serviceable-loading-log></serviceable-loading-log>
<serviceable-toast></serviceable-toast>