<!-- Top -->
<div class="app-top-bar" style="text-align:right;">
    <a href="/"><<< Back to Main</a> &nbsp;&nbsp;&nbsp;
</div>
<div class="app-top-bar-spacer"></div>

<!-- Content -->
<div class="app-container">
    <router-outlet></router-outlet>
</div>

<!-- Bottom -->
<div class="app-bottom-bar-spacer"></div>
<div class="app-bottom-bar">

</div>

<!-- Generic elements -->
<serviceable-msgbox></serviceable-msgbox>
<loading-modal></loading-modal>
<serviceable-loading-log></serviceable-loading-log>
<serviceable-toast></serviceable-toast>