<div class="loading-wheel-containing-square">
    <div class="loading-wheel-containing-circle">
        <div class="loading-wheel-outer-circle loading-wheel-linear-animation" style="animation-name:roll-left; animation-duration:5s;">
            <div class="loading-wheel-mid-circle loading-wheel-eased-animation" style="animation-name:roll-right-with-pause; animation-duration:3s;">
                <div class="loading-wheel-inner-circle loading-wheel-eased-animation" style="animation-name:fade; animation-duration:2s; animation-iteration-count:infinite">
                    <div class="loading-wheel-pivot-circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>