<div [id]="getContainerId()" class="crud-table-container">

    <div class="crud-table-data-table-container" [style.height.px]="dataTableHeightPX" *ngIf="contentType=='table'">
        <data-table
            [id]="getDataTableId()"
            [data]="data"
            [(selectedItem)]="selectedItem"
            (onSelectionChanged)="onTableSelectionChanged($event)"
            [columnTitles]="columnTitles"
            [displayFunctions]="displayFunctions"
            [dataGridRowNumberFunction]="dataGridRowNumberFunction"
            [showHeader]="showHeader"
            [isDataGrid]="true"
            [showDataGridRowNumbers]="showDataGridRowNumbers"
        ></data-table>
    </div>
    <list *ngIf="contentType=='list'"
        [widthPCT]="100"
        [heightPX]="dataTableHeightPX"
        [items]="data"
        [(selectedItem)]="selectedItem"
        (onSelectionChanged)="onTableSelectionChanged($event)"
        [iconFunction]="listIconFunction"
        [titleFunction]="listTitleFunction"
        [descriptionFunction]="listDescriptionFunction"
    ></list>

    <div class="spacer"></div>

    <div class="crud-table-buttons-container">
        <pushbutton [widthPX]="40" text="Del" (onClick)="onDelButtonClicked()" *ngIf="showDelButton" style="float:right; padding-left:3px;" [enabled]="selectedItem"></pushbutton>
        <pushbutton [widthPX]="40" text="Edit" (onClick)="onEditButtonClicked()" *ngIf="showEditButton" style="float:right; padding-left:3px;" [enabled]="selectedItem"></pushbutton>
        <pushbutton [widthPX]="40" text="Add" (onClick)="onAddButtonClicked()" *ngIf="showAddButton" style="float:right; padding-left:3px;"></pushbutton>
    </div>
</div>

<app-dialog
    [title]="editDialogTitle"
    okButtonText="Save"
    cancelButtonText="Cancel"
    [widthPX]="editDialogWidthPX"
    [heightPX]="editDialogHeightPX"
    [showEvent]="editDialogShowEvent"
    [okCallback]="onDialogOkButtonClicked"
    [cancelCallback]="onDialogCancelButtonClicked"
    [showValidationMessages]="showEditDialogValidationMessages"
    [okButtonEnabled]="dialogSaveButtonEnabled"
>
    <div style="width:100%; height:100%; border-width:0px; border-style:none; margin:0px; padding:0px;"
        *ngIf="selectedItem"
    >
        <ng-content></ng-content>
    </div>
</app-dialog>

<msgbox
    [title]="delConfirmationMsgboxTitle"
    [message]="delConfirmationMsgboxMessage"
    [hasTwoButtons]="true"
    okButtonText="Yes"
    cancelButtonText="No"
    [showEvent]="delConfirmationMsgboxShowEvent"
    [okCallback]="onDelConfirmationMsgboxOkClicked"
    [cancelCallback]="onDelConfirmationMsgboxCancelClicked"
    [widthPX]="300"
    [heightPX]="100"
></msgbox>