<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>


<icon
    [picture]="piInstancesIconPicPathName"
    text="PI instances"
    (click)="goToPiInstances()"
></icon>

<icon
    [picture]="pinsIconPicPathName"
    text="Pins"
    (click)="goToPins()"
></icon>

<icon
    [picture]="pinGroupsIconPicPathName"
    text="Pin groups"
    (click)="goToPinGroups()"
></icon>

<icon
    [picture]="buttonsIconPicPathName"
    text="Buttons"
    (click)="goToButtons()"
></icon>

<icon
    [picture]="calendarIconPicPathName"
    text="Calendar"
    (click)="goToCalendar()"
></icon>