<msgbox
    [title]="msgBoxService.msgBoxTitle"
    [message]="msgBoxService.msgBoxMessage"
    [widthPX]="msgBoxService.msgBoxWidthPX"
    [heightPX]="msgBoxService.msgBoxHeightPX"
    [hasTwoButtons]="msgBoxService.msgBoxHasTwoButtons"
    [okButtonText]="msgBoxService.msgBoxOkButtonText"
    [cancelButtonText]="msgBoxService.msgBoxCancelButtonText"
    [showEvent]="msgBoxService.msgBoxShowEvent"
    [okCallback]="msgBoxService.serviceOkEventCallback"
    [cancelCallback]="msgBoxService.serviceCancelEventCallback"
></msgbox>
